body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #a18167;
  color: white
}

h1 {
  text-align: center;
}

#calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

#month-year {
  font-size: 1.5rem;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 20px 0;
}

.day {
  background: #D1B7A1;
  border: 1px solid ##dbd9a4;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.day:hover {
  background: #DBC2AD;
}

.event-day {
  background: #D1B7A1;
  font-weight: bold;
}

.event-dot {
  width: 8px;
  height: 8px;
  background: #5c3a1d;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

#event-form {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

#event-list {
  list-style: none;
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 227, 202, 0.5);
}

.modal-content {
  background: #927459;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.event-actions {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.event-btn {
  font-size: 12px;
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn {
  background: #f5c98f;
}

.delete-btn {
  background: #ef5350;
  color: white;
}
.event-details {
  font-size: 14px;
  color: white;
  margin: 3px 0;
}
.header-container {
            display: flex;
            align-items: center;
            gap: 10px;
            /* Propiedades clave para centrar */
            justify-content: center; /* Centra los elementos horizontalmente */
            width: 100%; /* Ocupa el ancho completo para poder centrar */
        }
        .header-image {
            width: 120px;
            height: 120px;
        }
body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

h1 {
  color: #2c3e50;
}

form {
  margin-bottom: 20px;
}

input, button {
  display: block;
  margin: 5px 0;
  padding: 8px;
}
